snippet index Empty HTML index file
	<!DOCTYPE html>
	<html lang="ru">
	<head>
		<title>${1:title}</title>
	</head>
	<body>
		$0
	</body>
	</html>
	<!-- vim: set ts=4:sw=4:noet:nocindent:fdm=marker: -->
